/* Style rules for fonts */
h1,
h2,
h3,
p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: auto;
}

h1 {
  position: relative;
  bottom: 5%;
  color: darkgoldenrod;
  text-shadow: -1px 1px 5px rgb(109, 14, 14), 2px -1px 3px rgb(109, 14, 14);
}

h2 {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0 0 0.5rem;
}

p {
  font-size: 1rem;
  font-weight: normal;
  padding: 0 0 0.5rem;
}

ul,
li {
  list-style: none;
}

.instructions {
  font-size: smaller;
  font-style: italic;
}

/* Style rules for body elements */
body {
  background-image: url(../Media/cork-board-2.jpg);
  background-size: cover;
}

header {
  max-height: 250px;
}

div.pictureFrame {
  background-image: url(../Media/hamlet.png) !important;
  background-size: cover !important;
  min-height: 275px;
  min-width: 275px;
}

.thumb {
  max-width: 50px;
  position: relative;
  left: 38%;
}

.thumb.top {
  top: -5%;
  left: 40%;
}

.thumb.middle {
  top: -15%;
  left: 40%;
}

.flex-center {
  display: flex;
  justify-content: center;
}

/* Style rules for nav elements */
.actions {
  display: flex;
  justify-content: center;
}

.actions > input {
  margin: 0.75rem 0.25rem 0 0;
  padding: 0.15rem;
}

.hiddenBtn {
  display: none;
}

/* Style rules for form elements */
.overlay {
  margin-top: 10rem;
  margin-left: 2rem;
  padding: 1rem;
  position: fixed;
  align-items: center;
  border-radius: 10px/35px 2% 1% 2%;
  background-color: #ffc;
  display: none;
  z-index: 2;
}

.overlay.display {
  display: inline-flex;
}

.flex-form {
  display: flex;
  gap: 0.5em;
  flex-flow: column;
  align-items: baseline;
  border-radius: 10px/35px 2% 1% 2%;
}

fieldset {
  gap: 1%;
}

legend {
  font-weight: bold;
  font-size: 1.25em;
}

.flex-btn {
  display: inline-flex;
  column-gap: 0.5em;
  margin: 0.5%;
  padding: 0.5%;
}

.flex-btn > input {
  padding: 1% 2% 1% 3%;
  border-radius: 5px;
  color: white;
  text-shadow: 0px 1px 2px gray;
}

.add {
  background-color: forestgreen;
}

.clear {
  background-color: darkgoldenrod;
}

.cancel {
  background-color: crimson;
}

/* Style rules for list elements */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container div {
  background: #ffc;
  display: block;
  width: fit-content;
  padding: 1em;
  border-radius: 3% 0 1% 10px/35px;
  box-shadow: inset 0 -40px 40px rgba(0, 0, 0, 0.2),
    inset 0 25px 10px rgba(0, 0, 0, 0.2), 0 5px 6px 5px rgba(0, 0, 0, 0.2);
}

.container.left-just {
  justify-content: flex-start;
}

.container.left-just div {
  background: #ccf;
}

.container .todoItem {
  margin: 1em;
}

.todoItem {
  padding: 0.75em;
}

.todoItem:nth-child(even) {
  background: #cfc;
}
.todoItem:nth-child(3n) {
  background: #ccf;
}

.todoItem h3 {
  margin: 0.15em;
}

.todoItem p {
  margin: 0.5em;
}

.list {
  flex-flow: column;
}

/* Style rules for card view elements */
.card {
  flex-flow: row wrap;
  align-items: stretch;
}

.card > div {
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  transition: 0.3s;
  border-radius: 5px;
  padding: 0.75em;
  max-width: 225px;
  max-height: 225px;
  overflow: auto;
  scrollbar-width: none;
}

.card > div:hover {
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.3);
}

.card.messy div {
  transform: rotate(-6deg);
}

.card.messy div:nth-child(even) {
  transform: rotate(4deg);
  position: relative;
  top: -9px;
  background: #cfc;
}
.card.messy div:nth-child(3n) {
  transform: rotate(-3deg);
  position: relative;
  top: 6px;
  background: #ccf;
}
.card.messy div:nth-child(5n) {
  transform: rotate(-5deg);
  position: relative;
  top: -10px;
}

.complete {
  color: green;
}

/* Style rules for footer elements */
footer {
  padding: 0.25em;
}

footer p {
  font-size: x-small;
  padding: 0.15rem;
}

.container.right-just div {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #cfc;
  border-radius: 0 0 30px/45px 0 !important;
}

/* Mobile Viewport: Style rule for list elements */
@media screen and (max-width: 525px) {
  .card {
    max-width: none;
  }
  .card > div {
    font-size: smaller;
    flex: 1 0.25 33%;
    padding: 0.25em;
  }
}
