/* Style rules for nav elements */
nav ul {
  display: inline-flex;
  list-style-type: none;
  margin: 1%;
  padding-inline-start: 1%;
}

nav li {
  padding: 2%;
}

/* Style rules for form elements */
#todoForm {
  background-color: #f2f2f2;
  padding: 1%;
  display: none;
}

#todoForm.display {
  display: inline-flex;
}

.flex-form {
  display: flex;
  gap: 10px;
  flex-flow: column;
  align-content: flex-start;
}

legend {
  font-weight: bold;
  font-size: 1.25em;
}

label {
  display: inline-block;
  padding-top: 3%;
}

.flex-btn {
  margin: 10px auto;
}

/* Style rules for list elements */
.listContainer {
  display: block;
}

.container {
  display: inline-flex;
  gap: 0.5em;
  justify-content: flex-start;
  padding: 0;
}

.todoItem {
  padding: 0.75em;
}

/* Style rules for card view elements */
.card > div {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding: 0.75em;
    overflow: scroll;
  }

.card:hover > div {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.complete {
  color: green;
}

/* Mobile Viewport: Style rule for list elements */
@media screen and (max-width: 500px) {
    .card > div {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        border-radius: 5px;
        max-width: 225px;
        max-height: 225px;
      }
}
